Repository contour-terminal/termbench-pro, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, CMake, documentation, test

.github/labeler.yml:

CI:
    - .github/**
CMake:
    - "**CMakeLists.txt"
    - cmake/**
documentation:
    - "**/*.md"
    - docs/**
test:
    - src/**/*_test.cpp

Fix header include
  libtermbench/termbench.cpp
Labels: none

[tb] Fix infinite loop on Windows and prefer WriteFile over WriteConsoleA
  tb/main.cpp
Labels: none

Benchmark: drop updating the window title, but keep the function for it (just in case)
  libtermbench/termbench.cpp
Labels: none

Overall Windows implementation improvements from Leonard Hecker, thank you
  tb/main.cpp
Labels: none

Improve randomAsciiChar()
  libtermbench/termbench.cpp
Labels: none

Improve writeNumber() with the help of Leonard Hecker
  libtermbench/termbench.cpp
Labels: none

Fix typo in header inclusion
  libtermbench/termbench.cpp
Labels: none

Add some benchmarks with unicode characters
  .github/workflows/build.yml
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/Xvfb-bench-run.sh
  scripts/plot_results.jl
  tb/main.cpp
Labels: CI

Add some benchmarks with unicode characters
  .github/workflows/build.yml
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/Xvfb-bench-run.sh
  scripts/plot_results.jl
  tb/main.cpp
Labels: CI

Use JSON as a format for output file
  CMakeLists.txt
  libtermbench/CMakeLists.txt
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/plot_results.jl
  tb/main.cpp
Labels: CMake

Add some vt insert and movement tests
  .github/workflows/build.yml
  README.md
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/Xvfb-bench-run.sh
  scripts/plot_results.jl
  scripts/xvfb-deps.sh
  tb/main.cpp
Labels: CI, documentation

drop fmt from vcpkg.json
  vcpkg.json
Labels: none

update gcc version inside build action
  .github/workflows/build.yml
Labels: CI

Update ubuntu version for github build
  .github/workflows/build.yml
Labels: CI

Update Glaze api
  CMakeLists.txt
  libtermbench/termbench.cpp
Labels: CMake

Update deps for ubuntu 24.04
  scripts/xvfb-deps.sh
Labels: none

Update contour version
  .github/workflows/build.yml
  scripts/xvfb-deps.sh
Labels: CI

fix crash when calling writeNumber(v = 0)
  libtermbench/termbench.cpp
Labels: none

add Clang++-16 and libc++(experimental) support
  CMakeLists.txt
Labels: CMake

feat(tb): add image-bench, a multi-protocol image benchmark
  CMakeLists.txt
  README.md
  libtermbench/CMakeLists.txt
  tb/CMakeLists.txt
  tb/base64.h
  tb/image_bench.cpp
  tb/image_bench_test.cpp
  tb/image_protocol.cpp
  tb/image_protocol.h
  tb/iterm2.h
  tb/kitty.h
  tb/plasma.h
  tb/png.h
  tb/sixel.h
Labels: CMake, documentation

feat(tb): add the Good Image Protocol to image-bench
  tb/gip.h
  tb/image_bench.cpp
  tb/image_bench_test.cpp
  tb/image_protocol.cpp
  tb/image_protocol.h
Labels: none

feat(tb): add --output, so a real terminal can be benchmarked at all
  tb/image_bench.cpp
Labels: none

tb: fix kitty image flicker by ping-ponging image ids
  tb/image_bench_test.cpp
  tb/kitty.h
Labels: none

tb: present each image-bench frame as one synchronized update
  tb/image_bench.cpp
Labels: none

tb: encode kitty frames without materialising RGB
  tb/image_bench_test.cpp
  tb/image_protocol.h
  tb/kitty.h
Labels: none

tb: add --compression-level, deflating kitty and PNG payloads
  CMakeLists.txt
  README.md
  scripts/install-deps.sh
  tb/CMakeLists.txt
  tb/deflate.h
  tb/gip.h
  tb/image_bench.cpp
  tb/image_bench_test.cpp
  tb/image_protocol.cpp
  tb/image_protocol.h
  tb/iterm2.h
  tb/kitty.h
  tb/png.h
  vcpkg.json
Labels: CMake, documentation
