Repository contour-terminal/termbench-pro, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, CMake, documentation, test

Remove mentions of Contour
  .github/workflows/build.yml
  .github/workflows/disabled/codeql-analysis.yml
  CMakeLists.txt
Labels: CI, CMake

Adds missing include.
  libtermbench/termbench.h
Labels: none

Benchmark: Adds ability to hook into pre-runs.
  libtermbench/termbench.cpp
  libtermbench/termbench.h
Labels: none

string fixes
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  termbenchpro/main.cpp
Labels: none

string fixes/2
  README.md
Labels: documentation

CLI arg string fix.
  termbenchpro/main.cpp
Labels: none

Update fmt library to latest
  cmake/ThirdParties.cmake
Labels: CMake

Make sure it compiles and runs on Windows.
  libtermbench/termbench.cpp
  termbenchpro/CMakeLists.txt
  termbenchpro/main.cpp
Labels: none

Minor fixes.
  libtermbench/termbench.cpp
Labels: none

CPM tidy-up
  cmake/CPM.cmake
Labels: CMake

[CMake] Default CMAKE_BUILD_TYPE to RelWithDebInfo.
  CMakeLists.txt
Labels: CMake

Avoid calling rand() in main loop
  libtermbench/termbench.cpp
  libtermbench/termbench.h
Labels: none

Initial draft for a C-API to assist language bindings.
  libtermbench/tbp.h
Labels: none

Fixes MSVC build
  CMakeLists.txt
Labels: CMake

compile fixes
  libtermbench/termbench.cpp
Labels: none

Do not perform hard reset, fix `CSI J`.
  termbenchpro/main.cpp
Labels: none

Drop range-v3 dependency. Make fmtlib a system dependency.
  CMakeLists.txt
  cmake/CPM.cmake
  cmake/ThirdParties.cmake
  libtermbench/CMakeLists.txt
Labels: CMake

Fixup fmt dependency.
  CMakeLists.txt
Labels: CMake

Update checkout action to v3
  .github/workflows/build.yml
  .github/workflows/disabled/codeql-analysis.yml
Labels: CI

Make clang happy and fully qualify std::move(.)
  libtermbench/termbench.cpp
Labels: none

Overall improvements to CMake files with respect to properly installation
  CMakeLists.txt
  libtermbench/CMakeLists.txt
  libtermbench/termbench-config.cmake.in
  termbenchpro/CMakeLists.txt
Labels: CMake

rename `tbp` executable to `tb`
  tb/CMakeLists.txt
  tb/main.cpp
Labels: none

Initiate renaming the project from termbench-pro to termbench
  CMakeLists.txt
  README.md
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  tb/main.cpp
Labels: CMake, documentation

Fix CI pipeline
  .github/workflows/build.yml
  scripts/install-deps.sh
  tb/CMakeLists.txt
  vcpkg.json
Labels: CI

Add CMakePresets
  CMakePresets.json
  autogen.sh
  cmake/presets/common.json
  cmake/presets/os-linux.json
  cmake/presets/os-macos.json
  cmake/presets/os-windows.json
Labels: CMake

Update of termbench with scripts to create plots
  .clang-format
  .github/mock-font-locator.yml
  .github/workflows/build.yml
  CMakeLists.txt
  libtermbench/CMakeLists.txt
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/Xvfb-bench-run.sh
  scripts/check-includes.sh
  scripts/install-deps.sh
  scripts/plot_results.jl
  scripts/xvfb-deps.sh
  tb/CMakeLists.txt
  tb/main.cpp
Labels: CI, CMake

Fixes an infinite loop in termbnech.cpp and add some overall improvements
  .github/workflows/build.yml
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  scripts/Xvfb-bench-run.sh
  tb/CMakeLists.txt
  tb/main.cpp
Labels: CI

tb: Drop namespace symbol imports
  libtermbench/termbench.cpp
Labels: none

[CI] Properly upload benchmark plot images
  .github/workflows/build.yml
Labels: CI

[CI] Upload .txt files for results rather than having no file extension (for easier viewing the file from the web browser)
  .github/workflows/build.yml
Labels: CI

[CI] Make use of CMake presets
  .github/workflows/build.yml
Labels: CI

[CI] Adds missing dependency ninja-build
  .github/workflows/build.yml
Labels: CI

[CI] Bump checkout action from v2 to v3
  .github/workflows/build.yml
  .github/workflows/disabled/codeql-analysis.yml
Labels: CI

tb: Typo-Fix changing terminal grid size
  tb/main.cpp
Labels: none

[CI] Improve some Job's step name to avoid confusion
  .github/workflows/build.yml
Labels: CI

Move TerminalSize into termbench API and generally clean up tb
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  tb/main.cpp
Labels: none

Change namespace from contour::termbench to termbench
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  tb/main.cpp
Labels: none

termbench: Always write full frames
  libtermbench/termbench.cpp
  libtermbench/termbench.h
Labels: none

termbench: Refactor Buffer implementation to always (or never) write full frames
  libtermbench/termbench.h
Labels: none

termbench: Add crafted test case
  libtermbench/termbench.cpp
  libtermbench/termbench.h
  tb/main.cpp
Labels: none

.github/labeler.yml:

CI:
    - .github/**
CMake:
    - "**CMakeLists.txt"
    - cmake/**
documentation:
    - "**/*.md"
    - docs/**
test:
    - src/**/*_test.cpp
